<h4>Grande!</h4>
<p>Abbbiamo aggiornato la quota di oggi!</p>
<p>Oggi hai mangiato un totale di <span class="big"><% @today %> #mandarini</span></p>
<p>DAJE! Ne hai un totale di:</p>
<hr>
<h1><strong> <%= @total %></strong> #mandarini !</h1>
<hr>
