 {
 	"today":<%= @today %>,
 	"total":<%= @oldtotal %>,
 	"content":"<h4>Grande!</h4><p><strong>Abbiamo aggiornato la tua giornata!</strong></p><p>Oggi hai mangiato un totale di <span class='big'><%= @today %> #mandarini</span></p><hr><p>Da inizio gara sei a quota:</p><h1><strong> <%= (@oldtotal+@today) %></strong> #mandarini !</h1><hr>"
 }



