// Color Variables
//
// Styleguide 1.0
$mainColor:         #F60;
$secondaryColor:    #0A0;
$tertiaryColor:     #00A;
$hiliteColor:       #FA0;

$textColor:         #888;
$textSubtleColor:   #AAA;

$backgroundColor:   #FFF;
$subtleBackground:  #EEE;

$fontPrimary:   10pt "Lucida Grande", Arial, sans-serif; 
$fontSecondary: "Helvetica Neue", Arial, sans-serif;

body {
  background-color:   $backgroundColor;
  color:              $textColor;
  font:               $fontPrimary;
  -webkit-font-smoothing: antialiased;
  margin: 20px;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  webkit-user-select: none;
  moz-user-select: none;
  user-select: none;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

// Links
//
// Styleguide 1.0

a,{
  color: $mainColor;
  &:link, &:visited{
    font-weight: bold;
    text-decoration: none;
  }
  &:hover, &:active{
    color: $hiliteColor;
    text-decoration: underline;
  }
}

// Typography
//
// Styleguide 1.0

h1 {
  color: $mainColor;
  font-family: $fontSecondary;
  font-size: 18px;
  font-weight: normal;
}

// Header
//
// Styleguide 1.0


header {
  padding: 24px 18px;

  h1 {
    border-bottom: 2px solid #e9e9e9;
    margin: 0 0 9px;
    padding: 2px 0 8px;
  }
}


#picture{
  float: left;
}

#profile{
  margin: 0 0 0 120px;
  h2{
    margin-top: 0;
    strong{
      color: $mainColor;
    }
  }
}

#share {
  float: right;
  width: 360px;
    p{
      text-align: right;
    }
    ul {
    float: right;
    li {
      float: left;
      list-style: none;
      margin-left: 8px;
    }
  }
}

#mandarinoform{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #DDD;
  padding: 20px;
  border-radius: 20px;
}

#message{
  font-weight: bold;
  font-size: 20pt;
  line-height: 30pt;
  text-align: center;
}

#submessage{
  color: $mainColor;
  font-weight: bold;
  font-size: 30pt;
  line-height: 50pt;
  text-align: center;
}

#howmany{
  width: 130px;
  height: 100px;
  font-size: 60pt;
  text-align: right;
}

#mandarinosubmit{
  background: $mainColor;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  color: $backgroundColor;
}

// Buttons
//
// Styleguide 1.0


.facebook-button{
  &:link, &.facebook-button:visited {
    background-color:   $mainColor;
    color:              $backgroundColor;
    padding: 10px;
    line-height: 40px;
    margin: 0;
    outline: none;
    text-decoration: none;
  }
  &:visited{
    background-color:   $secondaryColor;
  }
}


// Hacks
//
// Styleguide 1.0

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

.left{
  float:left;
}

.right{
  float:right;
}

.hidden{
  display:none;
}