body {
  background-color: white;
  color: #888888;
  font: 10pt "Lucida Grande", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 20px; }

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  webkit-user-select: none;
  moz-user-select: none;
  user-select: none; }

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */ } }
a {
  color: #ff6600; }
  a:link, a:visited {
    font-weight: bold;
    text-decoration: none; }
  a:hover, a:active {
    color: #ffaa00;
    text-decoration: underline; }

h1 {
  color: #ff6600;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal; }

.big {
  font-size: 13pt;
  color: #ff6600; }

.well {
  width: 400px; }
  .well h1 {
    font-size: 40px;
    text-align: center; }

#total_big {
  font-size: 60pt;
  line-height: 40pt;
  margin: 0 10px 0 0;
  font-weight: bold;
  color: #ff6600; }

header {
  padding: 24px 18px; }
  header h1 {
    border-bottom: 2px solid #e9e9e9;
    margin: 0 0 9px;
    padding: 2px 0 8px; }

#picture {
  float: left;
  border-radius: 100px; }

#profile {
  margin: 0 0 0 120px; }
  #profile h2 {
    margin-top: 0; }
    #profile h2 strong {
      color: #ff6600; }

#share {
  float: right;
  width: 360px; }
  #share p {
    text-align: right; }
  #share ul {
    float: right; }
    #share ul li {
      float: left;
      list-style: none;
      margin-left: 8px; }

#mandarinoform, #mandarinofriends, #classifica_container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #DDD;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px; }

#mandarinofriends {
  font-size: 14pt;
  font-weight: bold;
  float: left;
  width: 60%;
  color: #333333; }
  #mandarinofriends p {
    margin: 0; }

#classifica_container {
  width: 38%;
  float: right; }

.friends li {
  float: left;
  list-style: none;
  padding: 0 20px 0 0;
  border: 1px solid #EEE;
  margin: 10px; }

#message {
  font-weight: bold;
  font-size: 20pt;
  line-height: 30pt;
  text-align: center; }

#submessage {
  color: #ff6600;
  font-weight: bold;
  font-size: 30pt;
  line-height: 50pt;
  text-align: center; }

#howmany {
  width: 130px;
  height: 100px;
  font-size: 60pt;
  text-align: right; }

#mandarinosubmit {
  background: #ff6600;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  color: white; }

.basebutton, .facebook-button:link, .facebook-button:visited {
  background-color: #ff6600;
  color: white;
  padding: 10px;
  line-height: 40px;
  margin: 0;
  outline: none;
  text-decoration: none; }

.fullwidth {
  margin: 5px 0;
  width: 100%; }

.fb-login-button {
  margin: 30px 0; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  display: none; }
